In [1]:
import pandas as pd

In [2]:
tsla_stock = pd.read_csv('https://raw.githubusercontent.com/jonathan-data-analysis/Proj_name/main/TSLA.csv')

In [3]:
tsla_stock

            Date        Open        High  ...       Close   Adj Close    Volume
0     2010-06-29   19.000000   25.000000  ...   23.889999   23.889999  18766300
1     2010-06-30   25.790001   30.420000  ...   23.830000   23.830000  17187100
2     2010-07-01   25.000000   25.920000  ...   21.959999   21.959999   8218800
3     2010-07-02   23.000000   23.100000  ...   19.200001   19.200001   5139800
4     2010-07-06   20.000000   20.000000  ...   16.110001   16.110001   6866900
...          ...         ...         ...  ...         ...         ...       ...
2411  2020-01-28  568.489990  576.809998  ...  566.900024  566.900024  11788500
2412  2020-01-29  575.690002  589.799988  ...  580.989990  580.989990  17801500
2413  2020-01-30  632.419983  650.880005  ...  640.809998  640.809998  29005700
2414  2020-01-31  640.000000  653.000000  ...  650.570007  650.570007  15719300
2415  2020-02-03  673.690002  786.140015  ...  780.000000  780.000000  47065000

[2416 rows x 7 columns]

In [4]:
tsla_stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2416 entries, 0 to 2415
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2416 non-null   object
 1   Open       2416 non-null   float64
 2   High       2416 non-null   float64
 3   Low        2416 non-null   float64
 4   Close      2416 non-null   float64
 5   Adj Close  2416 non-null   float64
 6   Volume     2416 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 132.2+ KB

In [5]:
tsla_stock.describe()

              Open         High  ...    Adj Close        Volume
count  2416.000000  2416.000000  ...  2416.000000  2.416000e+03
mean    186.271147   189.578224  ...   186.403651  5.572722e+06
std     118.740163   120.892329  ...   119.136020  4.987809e+06
min      16.139999    16.629999  ...    15.800000  1.185000e+05
25%      34.342498    34.897501  ...    34.400002  1.899275e+06
50%     213.035003   216.745002  ...   212.960007  4.578400e+06
75%     266.450012   270.927513  ...   266.774994  7.361150e+06
max     673.690002   786.140015  ...   780.000000  4.706500e+07

[8 rows x 6 columns]